<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRP Login</title>
    <link rel="stylesheet" href="css\SRAP.css">
</head>

<body>
    <div class="bgig"></div>
    <div class="body">
        <form class="login-cont" action="/auth/login" method="post">
            <div class="login-box1">
                <H1 style="font-size: 50px;">SRP</H1>
                <H1 style="font-Size: 25px;">Student Registration Portal</H1>
                <H2>Welcome!</H2>
            </div>
            <div class="login-box2">
                <H2>Login</H2>
                <input placeholder="E-mail" type="email" name="email" id="email">
                <input placeholder="Password" type="password" name="password" id="password">
                <a class="login-regi" href="Register">Register?</a>
                <div style="display: flex;">
                    <input class="login-button" type="submit" value="Login">
                </div>
            </div>
            
        </form>
    </div>
    <!-- <script src="srap-login.js"></script>  -->
</body>

</html>